[Unit]
Description=Python Demo
After=syslog.target

[Service]
Type=simple
User=nivratti
Group=nivratti
WorkingDirectory=/programming/python/projects/
ExecStart=/usr/bin/python /programming/python/projects/python-demo.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
